* {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  display: flex;
}

/* landing page */
.middle {
  width: 70%;
  background-color: #201E50;
}

.game-view {
  height: 100vh;
  margin: 0px;
}

.headings {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 0;
  
}

h2 {
  font-size: 25px;
  margin-top: 20px;
  color: white;  
}

/* landing page sides */

.human-scoreboard, .computer-scoreboard {
  background-color: #3C3F68;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.player-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.player-visual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-score {
  color: white;
  font-size: 20px
}

.player-icon {
  font-size: 70px;
}

.player-name {
  font-size: 25px;
  color: white;
}

.reload-game-view {
  margin-top: 150px;
}

.game-view-btn {
  color: white;
  background-color: #201E50;
  border-radius: 12px;
  font-size: 20px;
  height: 55px;
  width: 180px;
  transition-duration: 1s;
}

.game-view-btn:hover {
  background-color: white;
  color: #201E50;
  cursor: pointer;
}

/* user form */
.user-input-view {
  margin-top: 140px;
  height:60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.opaque-form-container {
  border-radius: 12px;
  background-color: #3C3F68;
  height: 70%;
  width: 20%;
  border: white;
  border-style: double;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.entry-container {
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-entry {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35%;
  font-size: 20px;
}

.emoji-entry {
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45%;
  font-size: 20px;
}

#avatar {
  font-size: 30px;
}

#username {
  width: 30%;
}

.form-submit-div {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 70%;
  transition-duration: 0.2s;
}

.form-submit-btn {
  font-size: 20px;
  margin-top: 20px;
  width: 40%;
  height: 40px;
  transition-duration: 0.2s;
}

.submit-btn-alt {
  color: white;
  background-color: #201E50;
}

.submit-btn-alt:hover {
  color: #201E50;
  background-color: white;
  cursor: pointer;
}

.game-choice-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* game choice */

.game-choice-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  align-items: center;
  justify-content: space-evenly;
}

.game-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgba(0,0,0,0.2);
  color: white;
  border-radius: 15px;
  align-items: center;
  padding: 20px;
  font-weight: 300;
  transition-duration: 0.4s
} 

.game-card:hover {
  font-weight: 500;
  transition-duration: 0.4s;
  cursor: pointer;
  transform: scale(1.1);
}

.classic-container:hover {
  background-color: rgba(0,200,0,0.2);
}

.difficult-container:hover {
  background-color: rgba(200,0,0,0.2);
}

.game-title {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.game-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
}

.title-icon {
  height: 20px;
}

/* choose fighter */
.choose-fighter-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}

.choose-fighter {
  display: flex;
  align-items: center;
}

.all-fighters {
  display: flex;
  justify-content: space-evenly;
}

.single-fighter {
  height: 150px;
}

.single-fighter:hover {
  cursor: pointer;
}

.fighter-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
}

.beat-card {
  background-color: rgba(60, 63, 104,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 1px;
  opacity: 0;
  border-radius: 12px;
  color: white;
  font-size: 25px;
  font-weight: 200;
  transition: all 1s ease;
}

.beat-card.show {
  opacity: 1;
  height: 220px;
  border-radius: 12px;
  color: white;
  font-size: 25px;
  font-weight: 200;
}

.beats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beat-fighter {
  height: 70px;
}

/* result page */
.result-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.both-fighters {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.result-single-fighter {
  height: 300px;
}

.result-card {
  background-color: rgba(255,255,255,0.2);
  border-radius: 12px;
  border-style: double;
  border: white;
  height: 350px;
  width: 350px;
  transition: all 2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-card:hover {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.result-unknown {
  background-color: rgba(255,255,255,0.2);
  border-radius: 12px;
  height: 350px;
  width: 350px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,0.4);
  transform: all 1s ease;
}

.result-unknown:hover {
  background-color: rgba(255,255,255,0.5);
  color: white;
  cursor: pointer;
}

.winner {
  transform: scale(1.1);
  border: green;
  border-style: double;
}

.loser {
  border: maroon;
  transform: scale(0.9);
  border-style: double;
}

.hidden {
  display: none ;
}
